@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(255, 0, 0); */
}

body {
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* align-items: center; */
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.heading_style {
    height: 15vh;
    width: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(168, 168, 168, 0.74);
    border-radius: 0 0 60px 60px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.192);
}

.heading_text {
    font-size: 30px;
    flex: 1;
    text-align: center;
}

.slot_box_inner {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot_box {
    /* /* display: flex; */
    /* flex-direction: column; */
    /* align-self: cente; */
    /* justify-content: center;  */
    margin-top: 2.3rem;
    border: 3px solid rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    height: 50vh;
    width: 50%
}

.container_watch {
    display: flex;
    justify-content: center;
}

.watch_box {
    flex-direction: column;
    padding-right: 30px;
    /* font-family: 'Oswald', sans-serif; */
}

.watch_box_heading {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.511);
}

.watch_box_time {
    font-size: 25px;
}