* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(255, 0, 0); */
}

body {
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* align-items: center; */
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.heading_style {
    height: 15vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.74);
    border-radius: 0 0 60px 60px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.192);
}

.heading_text {
    font-size: 30px;
}

.slot_box_inner {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot_box {
    /* /* display: flex; */
    /* flex-direction: column; */
    /* align-self: cente; */
    /* justify-content: center;  */
    margin-top: 2.3rem;
    border: 3px solid rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    height: 50vh;
    width: 50%
}